# Environments
venv/
env/
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Monitoring state
monitoring/grafana/grafana.db
monitoring/grafana/png/
monitoring/grafana/csv/monitoring/grafana/plugins/
monitoring/grafana/grafana.db
monitoring/grafana/plugins/
